// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "modules/color"
@import "modules/efects"
@import "modules/fonts"

#tpl_top
  @include bg_azul
  height: 15px

#tpl_icones a
  font-size: 42px
  float: right
  padding-right: 10px
  @include font_azul
  text-decoration: none

#tpl_icones a:hover
  @include font_amarelo

#tpl_restrity
  font-size: 13px
  @include quicksand
  text-align: right

#nav-style
  @include bg_azul
  @include border_top_am

#nav-menus li
  font-size: 17px
  padding-left: 10px
  padding-right: 10px
  @include quicksand

#nav-menus li a
  @include font_amarelo

#nav-menus li a:hover
  color: aliceblue

#dropdow-itens
  height: 50px
  line-height: 40px
  font-weight: bold

#dropdow-itens:hover
  @include bg_azul
  @include font_amarelo

// Drop Down Automatico
.dropdown:hover>.dropdown-menu
  display: block

#style-categoria
  @include quicksand

#card-title
  color: #ffffff
  @include bg_azul

#card-style h2
  color: red

#card-categoria
  @include bg_azul
  text-decoration: none
  color: #cce5ff
  @include transition

#card-categoria:hover
  @include bg_amarelo
  text-decoration: none
  color: black